<div class="row main userback">
  <div class="col-md-4 col-md-offset-4 ">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel-heading">
         <div class="panel-title text-center">
            <h1 class="title">个人信息</h1>
            <hr />
          </div>
      </div>

    <%= simple_form_for [:account, @user] do |f| %>



      <div class="form-inputs">
        <%= f.input :avatar, :label => "头像", as: :file %>

        <% if @user.avatar.present? %>
          <%= image_tag(@user.avatar.thumb.url) %>
        <% else %>
          <%= image_tag(avatar_url(@user, 100)) %>
        <% end %>
      </div>
      <div class="form-inputs">
        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">用户名</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <%= f.text_field :username, required: true , autofocus: true, class: "form-control", placeholder: "用户名" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">注册邮箱</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <%= f.email_field :email, :label =>"邮箱地址" , required: true, autofocus: true ,class: "form-control" ,placeholder: "邮箱"%>

            </div>
          </div>
        </div>
        <!-- <%= f.input :email, :label =>"邮箱地址" , required: true, autofocus: true %> -->

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">当前密码</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <%= f.password_field :current_password, required: true, autocomplete: "off", class: "form-control", placeholder: "输入当前密码" %>
            </div>
          </div>
        </div>
        <!-- <%= f.input :current_password, :label => "当前密码", required: true %> -->
        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">新密码</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <%= f.password_field :password, required: false, autocomplete: "off", class: "form-control", placeholder: "输入密码（至少6位）" %>
            </div>
          </div>
        </div>
        <!-- <%= f.input :password, autocomplete: "off", :label => "新密码", required: false %> -->
        <div class="form-group">
          <label for="confirm" class="cols-sm-2 control-label">新密码确认</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <%= f.password_field :password_confirmation, required: false ,autocomplete: "off",  class: "form-control", placeholder: "再次确认"%>
            </div>
          </div>
        </div>
        <!-- <%= f.input :password_confirmation, :label => "确认新密码",required: false %> -->
      </div>
      <hr>

      <div class="form-group ">
        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">更新</button>
      </div>
    <% end %>

  </div>
  </div>
</div>
