<!-- 本页面对应的CSS样式表：products.scss -->
<div class="container product-show">
  <div class="row">

    <!-- 主图 -->
    <div class="col-md-7">
        <div class="productDetail">
          <div class="productDetail-left">
            <div class="productDetail-left-bigImage">
              <%= image_tag(@product.photos[0].image.main.url) %>
            </div>
            <!-- 下方小图-->
            <div class="productDetail-left-imageList ">
              <div class="productDetail-left-imageList-item">
                <%= image_tag @product.photos[0].image.main.url  %>
              </div>
              <div class="productDetail-left-imageList-item">
                <%= image_tag @product.photos[1].image.main.url  %>
              </div>
              <div class="productDetail-left-imageList-item">
                <%= image_tag @product.photos[2].image.main.url  %>
              </div>
              <div class="productDetail-left-imageList-item">
                <%= image_tag @product.photos[3].image.main.url  %>
              </div>
            </div>
          </div>
        </div>
    </div>


    <!-- 商品信息 -->
    <div class="col-md-5">

      <!-- 商品标题 -->
      <h3 class="product-title"><%= @product.title %></h3>

      <!-- 商品简述 -->
      <div class="product-description">
        <p>
          <%= simple_format(@product.description) %>
        </p>
      </div>

      <!-- 商品价格 -->
      <div class="product-price-bgcolor">
        <div class="product-price">
          ￥ <%= @product.price %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <!-- 商品类别 -->
            <div class="product-quantity">
              类别： <%= @product.category.name %>
            </div>
          </div>

          <div class="col-md-6">
            <!-- 商品服务 -->
            <div class="product-quantity">
              配送： 全国包邮 | 3小时配送
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- 附送服务 -->
            <div class="product-quantity">
              附送：免费送精美贺卡，代打印您的祝福。<br>
              (下单时填了留言才赠送)
            </div>
          </div>
        </div>

        <!-- 按钮区域 -->
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1 ">
          <!--选择商品数量-->
            <div class="buy-quantity">
              <%= simple_form_for @product, method: :post, url: add_to_cart_product_path(@product) do |f| %>
              <%= link_to("-", "", id: "quantity-minus", class: "quantity-minus btn btn-default disabled") %>
              <%= f.input_field "", name: "quantity", value: '1', id: "quantity-input", class: "quantity-input" %>
              <%= link_to("+", "", id: "quantity-plus", class: "quantity-plus btn btn-default #{@product.quantity <= 1 ? 'disabled' : ''}") %>
            </div>
         </div>

          <!-- 商品库存 -->
          <div class="col-sm-4">
            <div class="product-quantity">
              库存量： <%= @product.quantity %>
            </div>
          </div>
        </div>
      </div>

      <!--直接购买-->
      <div class="action col-md-12">
        <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("立即购买", instant_buy_product_path(@product), class: "buy btn btn-block",  :method => :post) %>
        <% else %>
        售罄
        <% end %>
        </button>

      <!-- <div class="cnotainer"> -->
        <div class="">
         <!-- 加入购物车按钮 -->
          <div class="cart col-md-10 ">
            <button type="submit" class=" add-to-cart_btn  btn btn-block " >
              <% if @product.quantity.present? && @product.quantity > 0 %>
              <i class="fa fa-shopping-cart"  style="font-size: 20px;"> 加入购物车</i>
              <% else %>
              售罄
              <% end %>
            </button>
          </div>
          <% end %>


          <!-- 收藏商品按钮 -->
          <div class="col-md-2 product-collection">
            <% if current_user && current_user.is_member_of?(@product) %>
              <%= link_to quit_product_path(@product), method: :post, class: " unlike btn btn-default" do%>
              <i class="fa fa-heart fa-lg"></i><% end %>
            <% else %>
              <%= link_to join_product_path(@product), method: :post, class: " like btn btn-default" do%>
                <i class="fa fa-heart fa-lg"></i><% end %>
            <% end %>
          </div>
        </div>
      </div>

      <!--  点赞 人气-->

      <div class="col-xs-12">
        <hr>
      <div class="col-xs-4">
      <%= link_to like_product_path(@product), method: :put do %>
        <div class="product-zan">
          <i class="fa fa-thumbs-up fa-2x" , style="color:#E71D36;"></i>
          <a>人气（<%= @product.get_upvotes.size %>）</a>
        </div>
      <% end %>
      </div>


      <div class="col-xs-5 col-xs-offset-3">
        <div class="share">
          <li>
            <a onclick="on()" class="btn btn-round btn-weixin" target=_new>
              <i class="fa fa-weixin" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="btn  btn-round btn-weibo" target=_new>
              <i class="fa fa-weibo" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" class="btn btn-round btn-facebook" target=_new>
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <!-- <li>
            <a href="https://www.linkedin.com/" class="btn btn-round btn-linkedin" target=_new>
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li> -->
        </div>
      </div>
      </div>
      </div>
    </div>


    <!-- 商品详情区域 + 推荐展示 -->
    <div class="details">
      <!-- 商品详情区域 + 商品评论区域 -->
      <div class="col-md-8  product-particulars">
        <!-- 导航栏 -->
        <div class="row">
          <ul class="nav nav-tabs nav-justified">  <!--nav-justified整个画面详情和评论各占一半-->
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">商品详情</a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">用户评价 (<%= @product.reviews.count %>) </a>
            </li>
          </ul>
        </div>

        <div class="tab-content">
          <!-- 商品详情区域 -->
          <div class="product-particulars-box row tab-pane active" id="tab_default_1">
            <% @product.photos.each do |p| %>
              <%= image_tag p.image.main.url  , class: "thumbnail img-responsive col-md-6" %>
            <% end %>

          </div>
          <!-- 商品评论区域 --><!--对商品评论以及评星-->
          <div class="product-particulars-box row tab-pane" id="tab_default_2">
            <div class="text-center">
              <h3>综合评价</h3>
              <div class="star-freshness" data-score= <%= @avg_review %> >新鲜： </div>
              <div class="star-look" data-score= <%= @avg_look %> >外观： </div>
              <div class="star-price" data-score= <%= @avg_price %> >价格： </div>
            </div>
            <%= link_to("评价",new_product_review_path(@product), :class => "btn btn-lg btn-info") %>

            <hr>

            <% @reviews.each do |review| %>
              <div class="reviews">
                <ul>
                  <li>
                    <div class="row">
                      <div class="col-xs-7 review-user-email"><%= review.user.email %></div>
                      <div class="col-xs-4"><%= review.created_at.strftime("%Y-%m-%d %H-%M-%S") %></div>
                      <div class="col-xs-1">
                        <% if review.user == current_user %>
                          <%= link_to product_review_path(@product, review), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" } do %><i class="fa fa-trash"></i><% end %>
                        <% end %>
                      </div>
                    </div>
                    <div class="review-comment">
                      新鲜： <div class="star-freshness" data-score= <%= review.freshness %> ></div>
                      外观： <div class="star-look" data-score= <%= review.look %> ></div>
                      价格： <div class="star-price" data-score= <%= review.price %> ></div>
                      <%= review.body %>
                    </div>
                  </li>
                </ul>
                <div class="review-hr">
                  <hr>
                </div>
              </div>
              <% end %>
          </div>
        </div>


        <div class=" faq">
           <h3 class="faq-title text-center">鲜花订购常见问题 FAQ</h3>
           <p class="question">1.我订鲜花多久能送到？</p>
           <p class="answer">
             在您订购付款后，鲜花最快3个小时左右就能送到接收人手上。<br>
             您下单时可自由选择配送日期，我们已全国连锁，由当地的加盟店当天制作配送，以确保新鲜。</p>
           <p class="question">2.我要送鲜花, 需要提前多久订购？</p>
           <p class="answer">
             鲜花一般提前半天订购就可以送到； 当然，您提前一个月、两个月、半年，或提前更长时间订购都是可以的，我们都会在您指定的日期为您配送，总之，您越早订购越好，方便我们提前安排。 <br>
             [注：个别商品因为是稀缺花材或有特别的制作工艺，需要提前订购，而需要提前的时间请查看商品详情中的说明]
           </p>
           <p class="question">3.我怎么样付款？</p>
           <p class="answer">可以通过微信、支付宝进行付款。</p>
           <p class="question">4.是先付款再配送吗？先付款怎么保证我的东西能按要求送到？</p>
           <p class="answer">是的，我们是国内领先的鲜花速递服务商，有着良好的市场口碑的和广泛的行业影响，必将用心服务，不负您的信赖。</p>
           <p class="question">5.送到的鲜花会和图片上的一样吗？</p>
           <p class="answer">
             花艺师都是按图片和文字的要求来制作花束，主花材的枝数和颜色完全一致。<br>
            花束效果因花艺师手法不同可能略有小的区别</p>
         </div>
      </div>
    <!-- 推荐区 -->
        <div class="col-md-3 col-md-offset-1 proposal-product">
        <h4 style="padding-top:10px;">为您推荐的宝贝</h4>
        <hr />
        <div >
          <% Product.limit(4).sort_by{|product| product.price}.each do |product| %>
          <div class="productshow-box panel panel-default" style=" padding:0px">
            <article class="col-item">
              <div class="photo">
                <div class="options">
                  <!-- 收藏 -->
                  <% if current_user && current_user.is_member_of?(product) %>
                    <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="delete from wish list">
                      <%= link_to("" ,quit_product_path(product), method: :post, class: " fa fa-heart")%>
                    </button>
                  <% else %>
                    <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                      <%= link_to("", join_product_path(product), method: :post, class: " fa fa-heart")%>
                    </button>
                  <% end %>
                  <!-- 点赞 -->
                  <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="love">
                    <%= link_to like_product_path(product), method: :put do %>
                      <div class="pi-thumbs-up">
                        <i class="fa fa-thumbs-up " ></i>
                        <%= product.get_upvotes.size %>
                      </div>
                    <% end %>
                  </button>
                </div>

                <div class="options-cart">
                  <button class="btn btn-default" title="Add to cart">
                    <% if product.quantity.present? && product.quantity > 0 %>
                      <%= link_to("", add_to_cart_product_path(product), method: :post, class: "fa fa-shopping-cart") %>
                    <% else %>
                    售罄
                    <% end %>
                  </button>
                </div>
                <%= link_to product_path(product) do %>
                  <% if product.photos.present? %>
                    <%= image_tag(product.photos[0].image.main.url, class: "thumbnail", class: " img-responsive center-block") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail", class: " img-responsive center-block") %>
                  <% end %>
                <% end %>
              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class="price-details col-md-6">
                    <h1><%= product.title %></h1>
                    <span class="price-new">￥ <%= product.price %></span>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <% end %>
        </div>
        <!-- <div class="product-recommend">
          <h5>购物指南</h5>
          <hr>
          <h6>配送费用</h6>
          <p>小件商品的配送费用为20.00元/单。单笔订单消费购买小件商品满99.00元，可享受免费配送服务。</p>
          <hr>
          <h6>支付方式</h6>
          <p>支付宝账户余额
            <br>
            网银支付（通过支付宝
            <br>
            信用卡支付（通过支付宝）</p>
          <hr>
          <h6>更换商品、退货</h6>
          <p>如您在简屋官方网络商城购买的商品未经使用，并不影响下一位消费者的权益的情况下，可在到货起14日内进行退货服务申请。当您需要申请退货服务时请联系客服中心。</p>
          <hr>
          <h6>关于商品颜色</h6>
          <p>因拍摄灯光或显示器等因素，网页商品颜色可能与实物存在一定偏差，请以实物为准，敬请谅解。</p>
        </div> -->
    </div>
  </div>
</div>

<div id="overlay" onclick="off()">
  <div id="text" class= "image">手机扫一扫，分享给好友~
    <%= raw @qr.as_html  %>
  </div>
</div>


<script>
  $('.star-freshness').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });
  $('.star-look').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });
  $('.star-price').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });

  $('#star-freshness').raty({
  path: '/assets/',
  scoreName: 'review[freshness]'
  });

  $('#star-look').raty({
  path: '/assets/',
  scoreName: 'review[look]'
  });

  $('#star-price').raty({
      path: '/assets/',
      scoreName: 'review[price]'
  });

  $('#star-freshness img').eq(0).trigger('click')
  $('#star-look img').eq(0).trigger('click')
  $('#star-price img').eq(0).trigger('click')

  //----微信扫一扫-------
  function on() {
      document.getElementById("overlay").style.height = "100%";
  }
  function off() {
      document.getElementById("overlay").style.height = "0";
  }

</script>
